<div class="row">
    <div class="col-md-6 mx-auto MT-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">LOGIN</h1>
                <form action="">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" placeholder="Escribir correo" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Clave:</label>
                        <input type="clave" placeholder="Escribir clave" name="clave=" id="clave">

                    </div>
                    <button onclick="registrar()">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>  
